<%= form_with(model: caixa, local: true) do |form| %>
<% if caixa.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(caixa.errors.count, "error") %> prohibited this caixa from being saved:</h2>
  
  <ul>
    <% caixa.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="navbar">
  <div class="tab">
    <a class="tablinks active" id="navGeral" onclick="openTab(event, 'geral')">Geral</a>
    <a class="tablinks" id="navDesc" onclick="openTab(event, 'descricao')">Descrição das Saídas</a>
</div>
</div>
<div class="form-caixa tabcontent" id="geral">
  <div class="row">
    <div class="col">
      <div class="field">
        <p>
          <strong>
            <%= form.label :data, :value => 'Data' %><br/>
            <%= form.datetime_select :data, :order => [:day, :month, :year], :discard_hour => true, id: :caixa_data %>
          </strong>
        </p> 
      </div>
      <div class="field">
        <p>
          <strong>
            <%= form.label :caixa_inicial, :value => 'Caixa Inicial' %><br/>
            <%= form.text_field :caixa_inicial, id: :caixa_caixa_inicial %>
          </strong>
        </p>
      </div>
      <div class="field">
        <p>
          <strong>
            <%= form.label :dinheiro, :value => 'Dinheiro' %><br/>
            <%= form.text_field :dinheiro, id: :caixa_dinheiro %>
          </strong>
        </p>
      </div>
      <div class="field">
        <p>
          <strong>
            <%= form.label :saida, :value => 'Saídas' %><br/>
            <%= form.text_field :saida, id: :caixa_saida %>
          </strong>
        </p>
      </div>
    </div>
    
    <div class="col">
      <div class="field">
        <p>
          <strong>
            <%= form.label :cheque, :value => 'Cheque' %><br/>
            <%= form.text_field :cheque, id: :caixa_cheque %>
          </strong>
        </p>
      </div>
      <div class="field">
        <p>
          <strong>
            <%= form.label :maquineta_loja, :value => 'Maquineta Loja' %><br/>
            <%= form.text_field :maquineta_loja, id: :caixa_maquineta_loja %>
          </strong>
        </p>
      </div>
      <div class="field">
        <p>
          <strong>
            <%= form.label :maquineta_motoboy, :value => 'Maquineta Motoboy' %><br/>
            <%= form.text_field :maquineta_motoboy, id: :caixa_maquineta_motoboy %>
          </strong>
        </p>
      </div>
      <div class="field">
        <p>
          <strong>
            <%= form.label :cappta, :value => 'Cappta' %><br/>
            <%= form.text_field :cappta, id: :caixa_cappta %>
          </strong>
        </p>
      </div>
    </div>
   
    <div class="col">
      <div class="field">
        <p>
          <strong>
            <%= form.label :mundipagg, :value => 'Mundipagg' %><br/>
            <%= form.text_field :mundipagg, id: :caixa_mundipagg %>
          </strong>
        </p>
      </div>
      <div class="field">
        <p>
          <strong>
            <%= form.label :caixa_final, :value => 'Caixa Final' %><br/>
            <%= form.text_field :caixa_final, id: :caixa_caixa_final %>
          </strong>
        </p>
      </div>
      <div class="actions">
        <%= form.submit 'Criar', id: 'input_new_agenda' %><br/><br/>
        <%= form.submit 'Limpar', :type => 'reset', id: 'input_clear_agenda' %>
      </div>
    </div>
  </div>
</div>

<div id="descricao" class="tabcontent form-caixa-hidden">
  <div class="field">
    <p>
      <strong>
        <%= form.label :descricao, :value => 'Descrição' %><br/>
        <%= form.text_area :descricao, id: :caixa_descricao %>
      </strong>
    </p>
  </div>
</div>

<% end %>
