<div class="container">
  
  <div class="row" id="header">
    <div class="col-sm-4">
      <%= image_tag("purple.png", :alt => "watercolor", :id => "watercolor") %>
      <div class="logo">
        <%= image_tag("logo_cut.png", :alt => "logo", :id => "logo") %>
      </div>
    </div>
    <div class="col" id="titulo">
      <h2>Caixa do dia <%= @caixa.data.strftime("%d/%m/%Y") %></h2>
    </div>
  </div>

  <div class="show-list">
    <ul>
      <li><p><strong>Data: </strong> <%= @caixa.data.strftime("%d/%m/%Y") %></p></li>
      
      <li><p><strong>Caixa Inicial: </strong> R$ <%= @caixa.caixa_inicial %></p></li>
      
      <li><p><strong>Dinheiro: </strong> R$ <%= @caixa.dinheiro %></p></li>
      
      <li><p><strong>Saídas: </strong> R$ <%= @caixa.saida %></p></li>
      
      <li><p><strong>Descrição: </strong> <%= @caixa.descricao %></p></li>
      
      <li><p><strong>Cheque: </strong> R$ <%= @caixa.cheque %></p></li>
      
      <li><p><strong>Maquineta Loja: </strong> R$ <%= @caixa.maquineta_loja %></p></li>
      
      <li><p><strong>Maquineta Motoboy: </strong> R$ <%= @caixa.maquineta_motoboy %></p></li>
      
      <li><p><strong>Cappta: </strong> R$ <%= @caixa.cappta %></p></li>
      
      <li><p><strong>Mundipagg: </strong> R$ <%= @caixa.mundipagg %></p></li>
      
      <li><p><strong>Caixa Final: </strong> R$ <%= @caixa.caixa_final %></p></li>
      
      <li><p><strong>Total Diário: </strong> R$ </p></li>
    
    </ul>
  </div>      
  
  <div>
    <%= link_to '<button class="button_agenda edit_agenda"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129"><g><path class="fill" d="m119.2,114.3h-109.4c-2.3,0-4.1,1.9-4.1,4.1s1.9,4.1 4.1,4.1h109.5c2.3,0 4.1-1.9 4.1-4.1s-1.9-4.1-4.2-4.1z"/><path class="fill" d="m5.7,78l-.1,19.5c0,1.1 0.4,2.2 1.2,3 0.8,0.8 1.8,1.2 2.9,1.2l19.4-.1c1.1,0 2.1-0.4 2.9-1.2l67-67c1.6-1.6 1.6-4.2 0-5.9l-19.2-19.4c-1.6-1.6-4.2-1.6-5.9-1.77636e-15l-13.4,13.5-53.6,53.5c-0.7,0.8-1.2,1.8-1.2,2.9zm71.2-61.1l13.5,13.5-7.6,7.6-13.5-13.5 7.6-7.6zm-62.9,62.9l49.4-49.4 13.5,13.5-49.4,49.3-13.6,.1 .1-13.5z"/></g></svg><span>Editar</span></button>'.html_safe, edit_caixa_path(@caixa) %><br/><br/>
    <%= link_to '<button class="button_agenda back_agenda"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129"><g><path class="fill" d="m64.5,122.6c32,0 58.1-26 58.1-58.1s-26-58-58.1-58-58,26-58,58 26,58.1 58,58.1zm0-108c27.5,5.32907e-15 49.9,22.4 49.9,49.9s-22.4,49.9-49.9,49.9-49.9-22.4-49.9-49.9 22.4-49.9 49.9-49.9z"/><path class="fill" d="m70,93.5c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2 1.6-1.6 1.6-4.2 0-5.8l-23.5-23.5 23.5-23.5c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-26.4,26.4c-0.8,0.8-1.2,1.8-1.2,2.9s0.4,2.1 1.2,2.9l26.4,26.4z"/></g></svg><span>Voltar</span></button>'.html_safe, caixas_path %>      
  </div>
  <p id="notice"><%= notice %></p>
</div>